<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feriados</title>
</head>
<style>
    h1{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        background-color: rgb(140, 241, 157);
    }
</style>
    <body>
        <h2>
            Bem vindo ao site de feriados, ele verifica se no dia atual temos algum feriado ou não
        </h2>
        <h1>
            {{feriado_de_hoje}}
        </h1>       
    </body>
</html>